<h1>Mi cuenta es: 
	<%= @suma %>
</h1>
<% @suma += 1 %>
<form action="/views" method="post">
	<input type="hidden" name="valor" value=<%= @suma %>></input>
	<input type="submit" value="Sumar"></input>
</form>
